
.signin-container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background: url(../images/background/Login-bg.svg) center bottom no-repeat;

}

.signin-inner {
 
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: center;
    justify-content: center;
 
}

.sign-form {
    background: white;
    box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16);
    padding: 50px;
    width: 500px;
 
  
}


.sign-form .sign-in-logo {
    text-align: center;
    margin-bottom: 2.5rem;
   
}

.sign-form .nav-tabs li a {
    background: transparent;
    border: none;
    color: hsla(209, 23%, 60%, 1);

    padding: 0;
    margin-right: 1rem;
  
}

.sign-form .nav-tabs li a.active span {
    display: block;
    border: none;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid hsla(208, 100%, 50%, 1);
    color: hsla(208, 100%, 50%, 1);
   
}



.sign-form  .nav-tabs {
    margin-bottom: 2rem;

    border-bottom: 0;
}


.sign-form .nav-tabs {
    margin-bottom: 2rem;

    border-bottom: 0;
}

.sign-form .nav-tabs li a {
    background: transparent;
    border: none;
    color: hsla(209, 23%, 60%, 1);
 
    padding: 0;
    margin-right: 1rem;
  
}

.sign-form .nav-tabs li a.active span {
    display: block;
    padding-bottom: 0.25rem;
 
    border-bottom: 2px solid hsla(208, 100%, 50%, 1);
 

}

.sign-form .form-group {
    margin-bottom: 1rem;

}

.sign-form .form-control,
.sign-form .input-group-text {


    background: transparent;
}


.sign-form .form-group .input-group-append .input-group-text:hover {
    color: hsla(208, 100%, 50%, 1);

}

.sign-container .alert {
    border-radius: 0;
}
.sign-form  .input-group-prepend .input-group-text, .forny-form .input-group-append .input-group-text {
    border:1px solid #ced4da;

    padding: 14px 9px;

    text-align: center;
    display: inline-block;
    min-width: 48px;
}
.sign-form .input-group-prepend .input-group-text {
    border-right: 0;
    padding-right: 0.25rem;

}

.sign-form .input-group-append .input-group-text {
    padding-left: 0.25rem;
 
    border-left: 0;
}


.sign-form .input-group-prepend .input-group-text {
    padding-right: 0.5rem;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0 !important;
}



.sign-form .input-group .input-group-prepend + .form-control {
    border-left: 0 !important;
    padding-left: 0.25rem;
   
}

.sign-form  .form-control, .forny-form .input-group-text {
    color: #ced4da;

    background: transparent;
}
.sign-form  .form-control, .forny-form .input-group-text {
    color: black;
  
    background: transparent;
}


.signin-container .btn-social {
    color: white;
    border: 0;
}
.signin-container .btn-linkdien:hover {
    background: #1d7199;
}
.signin-form .btn {
    border-radius: 0;
    padding: 0.5rem 1rem;

}
.signin-container .btn-linkdien {
    background: #0e76a8;

}



.signin-container .btn-google {
    background: hsla(4, 69%, 53%, 1);
  
}


.signin-container .btn-google:hover {
    background: hsla(4, 59%, 47%, 1);
}



.social-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}




button.btn.btn-social.btn-block.btn-linkdien, button.btn.btn-social.btn-block.btn-google {
  
 justify-content: center;
 width: 150px;
 margin: 10px 5px;
   
}

